@font-face {
  font-family: "7segment";
  src: url("DSEG14ClassicMini-BoldItalic.woff") format('woff');
}

seven-segment {
  font-family: "7segment", sans-serif;
  display: inline-block;
}

input {
  font-family: "7segment", sans-serif;
}

seven-segment:not(.dot) {
  min-width: 1em;
}

seven-segment.dot {
  min-width: 3pt;
}

seven-segment-number {
  color: #AD0000;
  white-space: pre;
}