.rotation {
  height: 200px;
  width: 200px;
}

.knob {
  background-image: url('Knob.png');
  background-size: cover;
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

knob.vertical-axis {
  cursor: row-resize;
}

knob.horizontal-axis {
  cursor: col-resize;
}

dual-knob {
  display: flex;
  flex-direction: row;
  height: 180px;
  width: 180px;

  knob.major {
    position: absolute;
  }

  knob.minor {
    width: 90px;
    height: 90px;
    border: 1px solid gray;
    border-radius: 60%;
    box-shadow: inset 2px 2px gray;
    position: relative;
    left: 45px;
    top: 45px;
  }

}


