scroll-knob {
  /*
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  */

  .scroll-container {
    overflow: scroll;
    -webkit-overflow-scrolling: auto;
    width: 100%;
    height: 100%;
  }

  .knob {
    background-image: url('ScrollKnob.png');
    background-size: cover;
    width: 200px;
    height: 200px;
  }


  ::-webkit-scrollbar {
    display: none;
  }

}

scroll-knob.vertical-axis {
  cursor: row-resize;
}

scroll-knob.horizontal-axis {
  cursor: col-resize;
}

dual-knob {
  display: flex;
  flex-direction: row;
  height: 180px;
  width: 180px;

  knob.major {
    position: absolute;
  }

  knob.minor {
    width: 90px;
    height: 90px;
    border: 1px solid gray;
    border-radius: 60%;
    box-shadow: inset 2px 2px gray;
    position: relative;
    left: 45px;
    top: 45px;
  }

}


